<!DOCTYPE html>
<html>
<head>
	<title>Web Api for streaming</title>
    <link rel="stylesheet" href="style.css">	
</head>
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
<link rel="stylesheet" type="text/css" href="style.css">
<script>
	
	const ROOM_ID = '<%= roomId %>';
	console.log(ROOM_ID);	
</script>


<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.min.js" defer></script> 
<script src="https://kit.fontawesome.com/62d14f866e.js" crossorigin="anonymous"></script>
<script  src="/socket.io/socket.io.js" defer></script>
<script src="sketch.js" defer></script>
<body>
	
	<div class="sidebar">
	<ul>
		<li>
			<label for="color">Color:</label>
			<input type="color" id="color"/>
		</li>
		<li>
			<label for="weight">Stroke:</label>
			<input type="number" id="weight" min="2" max="200" value="3"/>
		</li>
		<li>
			<button id="clearCanvas"><i class="fa fa-trash"></i></button>
		</li>
	</ul>
</div>
    
</body>

</html>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.min.js" defer></script> 
<script src="https://kit.fontawesome.com/62d14f866e.js" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="style.css">
<script src="sketch.js" defer></script>
<h4>Weekly Coding Challenge #5: Drawing App</h4>

<div class="sidebar">
	<ul>
		<li>
			<label for="color">Color:</label>
			<input type="color" id="color"/>
		</li>
		<li>
			<label for="weight">Stroke:</label>
			<input type="number" id="weight" min="2" max="200" value="3"/>
		</li>
		<li>
			<button id="clear"><i class="fa fa-trash"></i></button>
		</li>
	</ul>
</div>

<footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/04/drawing-app-built-with-p5js/">here</a>.
	</p>
</footer> -->